:root {
    --header-color: rgba(255,255,255,255);
    --main-color: rgba(226,232,240,255);
    --sidebar-color: rgba(25,146,212,255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "aside header"
        "aside main";
}

header {
    background-color: var(--header-color);
    padding: .5rem;

    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;

    div {
        /* border: 1px solid black; */
        width: 100%;
    }

    #upper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 1fr;

        #search {
            display: grid;
            grid-template-columns: 10% 70%;
            justify-content: start;
            align-items: center;
            grid-auto-flow: column;

            padding: 1rem;

            svg {
                width: 100%;
            }

            button {
                width: 30%;
                background-color: transparent;
                border: none;
                margin-right: 1rem;
                align-self: center;
                justify-self: end;
            }

            input {
                width: 80%;
                padding: .5rem;
                font-size: 1rem;
                border-radius: 50px;
                border: none;
                background-color: var(--main-color);
            }
        }

        #profile-button {
            display: grid;
            grid-template-columns: repeat(2, 1fr) 1.5fr;
            grid-auto-flow: column;
            place-items: center;
            padding: 1rem;

            button {
                width: 25%;
                background-color: transparent;
                border: none;
            }

            img {
                width: 100%;
                border-radius: 100px;
            }

            p {
                font-size: 1.5rem;
                font-weight: bolder;
            }
        }
    }

    #lower {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1.5fr 1fr;

        #profile-name {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 20% 85%;
            place-items: center;
            gap: 1rem;

            button {
                width: 50%;
                height: 100%;
                background-color: transparent;
                border: none    ;
                justify-self: end;
                margin-right: 1rem;
            }

            img {
                width: 100%;
                border-radius: 100px;
            }

            p {
                width: 70%;
                justify-self: start;
                font-weight: bolder;
            }

            #name {
                font-size: 1.5rem;
            }
        }

        #utility-buttons {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;

            button {
                background-color: var(--sidebar-color);
                border: none;
                color: var(--header-color);
                width: 50%;
                height: 40%;
                font-size: 1.2rem;
                border-radius: 50px;
            }
        }
    }
    
}

aside {
    background-color: var(--sidebar-color);
    padding: 2rem;

    grid-area: aside;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-content: start;

    color: white;
    
    div {
        width: 100%;
    }

    ul {
        list-style: none;
        font-size: 1.5rem;
    }

    li {
        margin-bottom: 1.5rem;

        svg {
            width: 10%;
        }

        svg path {
            fill: white;
        }
    }

    #dashboard {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

main {
    background-color: var(--main-color);
    padding: 1rem;

    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
        "projects announcements"
        "projects trending";

    #projects {
        grid-area: projects;
        background-color: transparent;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr repeat(3, 5fr);
        grid-template-areas: "h3 h3";
        gap: 1.5rem;

        h3 {
            font-size: 1.5rem;
            grid-area: h3;
            align-content: end;
        }

        section {
            width: 100%;
            height: 100%;
            background-color: var(--header-color);
            border-radius: 6px;
            border-left: 6px solid orange;
            padding: 1rem;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;
            grid-auto-flow: row;    

            div {
                /* border: 1px solid red; */
            }

            #description {
                display: grid;
                gap: .5rem;
                padding: .5rem;
            }

            #icons {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: end;
            }

            #icons > div {
                width: 30%;
                display: grid;
                grid-auto-flow: column;
                justify-items: center;
                align-items: center;
            }

            img {
                width: 50%;
            }
        }
    }

    #announcements {
        grid-area: announcements;
        display: grid;
        grid-template-rows: 1fr 7fr;
        gap: 1.5rem;

        h3 {
            font-size: 1.5rem;
            align-content: end;
        }

        & > div {
            display: grid;

            background-color: var(--header-color);
            border-radius: 6px;
            padding: .5rem;

            div {
                padding: .5rem;
                font-size: .8rem;
            }

            .bottom-border {
                border-bottom: 1px solid black;
            }
        }

    }

    #trending {
        grid-area: trending;
        display: grid;
        grid-template-rows: 1fr 7fr;
        gap: 1.5rem;    

        h3 {
            font-size: 1.5rem;
            align-content: end;
        }

        & > div {
            display: grid;
            background-color: var(--header-color);
            border-radius: 6px;
            place-items: center;
        }
    }
}