:root {
    --header-color: rgba(255,255,255,255);
    --main-color: rgba(226,232,240,255);
    --sidebar-color: rgba(25,146,212,255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "aside header"
        "aside main";
}

header {
    background-color: var(--header-color);

    grid-area: header;
}

aside {
    background-color: var(--sidebar-color);
    padding: 2rem;

    display: grid;
    gap: 1rem;
    align-content: start;
    grid-area: aside;

    color: white;
    
    div {
        width: 100%;
        border: 1px solid rgb(255, 255, 255);
    }

    ul {
        list-style: none;
    }
}

main {
    background-color: var(--main-color);

    grid-area: main;
}